* {
    box-sizing: border-box;
    display: block;
}

body {
    margin: 0;
}

main {
    background-color: rgb(235, 245, 253);
    width: 70%;
    margin: 0 auto;
}
fieldset{
    border: 2px solid whitesmoke;
    padding: 10px;
    margin-bottom: 1rem;
    background-color:aquamarine;

}
label{
    padding: .4rem .5rem;
    display: inline-flex;
    align-items: center;
}
textarea{
    display: block;
    width: 100%;
    height: 100px;
    margin-top: .5rem;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

