* {
  box-sizing: border-box;
  display: block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
}

main {
  background-color: rgb(235, 245, 253);
  width: 70%;
  margin: 0.5rem auto 1rem auto;
  padding: 1rem 1rem 2rem 1rem;
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  margin-bottom: 0.5rem;
}
fieldset {
  border: 2px solid whitesmoke;
  padding: 10px;
  margin-bottom: 1rem;
  background-color: aquamarine;
}

input[type="text"],
[type="email"] {
  display: block;
  width: 100%;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

legend {
  text-align: center;
}
select {
  text-align: center;
  width: 100%;
}
label {
  padding: 0.4rem 0.5rem;
  display: inline-flex;
  align-items: center;
}
textarea {
  display: block;
  width: 100%;
  height: 100px;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
